<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Flask!</title>
    <meta name="keywords" content="web app with flask" />
    <meta charset="utf-8" />
  </head>

  <body>
    <header>
      <h1>{{current_title}}</h1>
      <nav>
        <ul id="menu">
          <li>
            <a href="destinos.html">Destinos</a>
          </li>
          <li>
            <a href="comunidad.html">Comunidad</a>
          </li>

          <li>
            <a href="rutas.html">Rutas</a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <article>
        <p>
          Some Task
        </p>
      </article>
    </section>

    <footer></footer>
  </body>
</html>
